[Unit]
Description=System Monitor Service
After=network.target

[Service]
ExecStart=/home/student/system-monitor/venv/bin/python /home/student/system-monitor/monitor.py
WorkingDirectory=/home/student/system-monitor
Restart=always
User=student

[Install]
WantedBy=multi-user.target